@import "tailwindcss";

/* Add these to ensure Tailwind sees your classes */
@source "../app/**/*.{js,ts,jsx,tsx,mdx}";
@source "../components/**/*.{js,ts,jsx,tsx,mdx}"; 

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* removed dark mode property */
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes car-flow {
  0% {
    transform: translateX(100vw) translateY(32px) rotate(3deg);
    opacity: 0;
  }
  /* Move in to original position (approx 0.7s of 3s = 23%) */
  23% {
    transform: translateX(0) translateY(32px) rotate(3deg);
    opacity: 0.5;
  }
  /* Stay for 1.6s (53% of 3s) */
  76% {
    transform: translateX(0) translateY(32px) rotate(3deg);
    opacity: 0.5;
  }
  /* Move to left (approx 0.7s of 3s = 23%) */
  100% {
    transform: translateX(-100vw) translateY(32px) rotate(3deg);
    opacity: 0;
  }
}

.animate-car-flow {
  animation: car-flow 6s linear infinite;
}